<?xml version="1.0"?>

<robot name="hardware" xmlns:xacro="http://www.ros.org/wiki/xacro">
<!-- distance: 0 0 0.152 center of mass: 0.004 0.004 0.085 mass: 2.4 main gripper macro -->
<xacro:macro name="cube_base" params="parent *origin">
  <!-- Macro for the inertia of a box -->
  <xacro:macro name="box_inertia" params="x y z mass">
    <inertia ixx="${0.0833333 * mass * (y*y + z*z)}" ixy="0.0" ixz="0.0"
      iyy="${0.0833333 * mass * (x*x + z*z)}" iyz="0.0"
      izz="${0.0833333 * mass * (x*x + y*y)}" />
  </xacro:macro>

  <!--  Define the origin of your 3D space
  Here we define a box lying at 0,0,0 with some dimensions, in reality our robot is place on top of a metal cart with those dimensions.
  This will include the cart in the scene and avoid the robot to hit it when using MoveIt!
  If you don't want to have that you can define a basic world link (see commented lines)
  -->
  <joint name="footprint_joint" type="fixed">
    <parent link="${parent}"/>
    <child link = "base_link"/>
    <xacro:insert_block name="origin" />
  </joint>

  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
      <mass value="100.0"/>
      <xacro:box_inertia x="0.8" y="0.8" z="1.0" mass="100.0"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.8 0.8 1.0"/>
      </geometry>
      <material name="Orange"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
      <geometry>
        <box size="0.8 0.8 1.0"/>
      </geometry>
    </collision>
  </link>

  <gazebo reference="box_link">
    <material>Gazebo/Orange</material>
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
  </gazebo>

</xacro:macro>
</robot>
