<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hh_robot">
  <!-- Variables -->
  <xacro:arg name="publish_robot" default="false"/>
  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
  <xacro:arg name="robot_name" default="hh"/>

  <xacro:macro name="iiwa_wsg_gripper" params="*origin publish_robot hardware_interface robot_prefix">
    <!-- Variables -->
    <xacro:arg name="publish_robot" default="true"/>
    <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
    <xacro:arg name="robot_prefix" default="hh"/>

    <!-- Include models -->
    <xacro:include filename="$(find bh_description)/urdf/arms/iiwa7_gazebo_fix.xacro"/>

    <xacro:include filename="$(find robotiq_3f_gripper_visualization)/cfg/robotiq_hand_macro.urdf.xacro"/>
    <xacro:include filename="$(find bh_description)/urdf/primesense/primesense_camera.urdf.xacro"/>

    <!-- Load the calibration parameters -->
    <xacro:include filename="$(find bh_description)/calibration/robot_cal.xacro"/>

    <!-- If we have a single robot we want to fully publish it. When we have dual arm we only want to parse the macro. -->
    <xacro:if value="$(arg publish_robot)">
      <xacro:include filename="$(find bh_description)/urdf/iiwa_table.urdf.xacro"/>
      <xacro:include filename="$(find bh_description)/urdf/iiwa_mount/iiwa_torso.urdf.xacro"/>

      <!-- Include needs to be here since they collide otherwise -->
      <xacro:include filename="$(find iiwa_description)/urdf/materials.xacro" />

      <!-- Insert the BASE -->
      <link name="world"/>
      <iiwa_table parent="world">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </iiwa_table>

      <!-- Insert triangular mount -->
      <iiwa_torso parent="torso_origin">
        <origin xyz="0 0 0" rpy="0 0 ${PI}"/>
      </iiwa_torso>
    </xacro:if>

    <!-- FIXME: it should say `robot_name="$(arg robot_prefix)"`, but robot_prefix resolves to "bh" here. -->
    <iiwa7 hardware_interface="$(arg hardware_interface)" parent="iiwa_torso_right" robot_name="hh">
      <origin xyz="${cal_base_to_hh_xyz}" rpy="${cal_base_to_hh_rpy}"/>
    </iiwa7>

    <!-- FIXME: Same here! -->
    <robotiq_hand prefix="hh_gripper_" parent="hh_link_ee" reflect="">
      <origin xyz="0 0 ${0.036+0.046}" rpy="${PI/2} 0 ${PI}"/>
    </robotiq_hand>

    <!-- Plugin to control the RobotiQ hand -->
    <gazebo>
    <plugin name="robotiq_hand_plugin" filename="libRobotiqHandPlugin.so">
      <!-- These parameters come from the -->
      <kp_position>10.0</kp_position>
      <kd_position>0.5</kd_position>
      <prefix>hh_gripper_</prefix>
      <!-- This is chosen, so it's compatible with the "Robotiq3FGripperSimpleController.py"-->
      <topic_command>/Robotiq3FGripperRobotOutput</topic_command>
    </plugin>
  </gazebo>

    <!--<primesense_camera name="realsense_$(arg right)" parent="$(arg right)_link_ee" joint_type="$(arg camera_joint_type)">
      <origin xyz="$(arg camera_xyz)" rpy="$(arg camera_rpy)"/>
    </primesense_camera> -->
  </xacro:macro>

  <!-- If we have a single robot we want to fully publish it. When we have dual arm we only want to parse the macro. -->
  <xacro:if value="$(arg publish_robot)">
    <iiwa_wsg_gripper hardware_interface="$(arg hardware_interface)" robot_prefix="$(arg robot_name)" publish_robot="$(arg publish_robot)">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </iiwa_wsg_gripper>
  </xacro:if>
</robot>
