<?xml version="1.0"?>
<launch>
    <arg name="hardware_interface" default="PositionJointInterface" />
    <arg name="robot_name" default="bh" />
    <arg name="model" default="iiwa7" />
    <arg name="sim" default="true"/>
    <arg name="camera" default="false"/>
    <arg name="run_driver" default="false"/>
    <arg name="controller" default="PositionJointInterface"/>

    <!-- Working with the simulated robot.  -->
    <arg if="$(arg sim)" name="controllers" value="joint_state_controller $(arg controller)_trajectory_controller"/>
    <group ns="$(arg robot_name)" if="$(arg sim)">
        <!-- gripper control -->
	<!--<node name="chuck_oc" type="chuck_oc_node.py" pkg="bh_control" output="screen">
          <remap from="finger1position" to="finger1_controller/command"/>
          <remap from="finger2position" to="finger2_controller/command"/>
          <remap from="finger3position" to="finger3_controller/command"/>
	</node>-->
    </group>

    <!-- Working with the real robot.  -->
    <arg unless="$(arg sim)" name="controllers" value="joint_state_controller $(arg hardware_interface)_trajectory_controller" />
    <group ns="$(arg robot_name)" if="$(eval not arg('sim') and arg('run_driver'))">
        <!-- Robot interface -->
        <include file="$(find bh_control)/launch/hw.launch" >
            <arg name="hardware_interface" value="$(arg hardware_interface)" />
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>

        <!-- Realsense camera interface --> <!-- doesn't have a realsense -->
        <!-- <include if="$(arg camera)" file="$(find vision)/launcher/launch/realsense_d435.launch">
          <arg name="camera" value="realsense_$(arg robot_name)" />
        </include> -->
    </group>
    <!--
    <group unless="$(arg sim)">
        <arg name="tool_name" default="psa"/>
        <param name="/$(arg robot_name)/toolName" type="string" value="$(arg tool_name)" />
        <node ns="$(arg tool_name)" name="piston_gripper_driver" type="serial_node.py" pkg="rosserial_python" output="screen">
          <param name="port" value="/dev/ttyACM0"/>
          <param name="baud" value="57600"/>
        </node>
</group>-->
    


    <!-- Load controllers accordingly to parameters -->
    <group ns="$(arg robot_name)">
        <include file="$(find bh_control)/launch/controllers.launch">
            <arg name="hardware_interface" value="$(arg hardware_interface)" />
            <arg name="controllers" value="$(arg controllers)" />
            <arg name="robot_name" value="$(arg robot_name)" />
        </include>
    </group>
</launch>
