<?xml version="1.0"?>
<launch>

    <!-- Launches the controllers according to the hardware interface selected -->
    <!-- Everythings is spawned under a namespace with the same name as the robot's. -->

    <arg name="hardware_interface" default="PositionJointInterface"/>
    <arg name="controllers" default="joint_state_controller pos_joint_trajectory_controller"/>
    <arg name="robot_name" default="bh" />

    <!-- Loads joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find bh_control)/config/$(arg robot_name)_control.yaml" command="load" />

    <!-- Loads the controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
          output="screen" args="$(arg controllers)" />

    <!-- Load IK params from YAML file to parameter server -->
    <!--<rosparam file="$(find iiwa_tools)/config/$(arg robot_name)_service.yaml" command="load"/>-->

      <!-- Load IK params from YAML file to parameter server -->
    <rosparam file="$(find bh_control)/config/$(arg robot_name)_service.yaml" command="load"/>

  <!-- launch the IK server -->
  <node name="$(arg robot_name)_service" pkg="iiwa_tools" type="iiwa_service" respawn="false"
    output="screen" ns="service"/>

</launch>
