<?xml version="1.0" ?>
<launch>
  <arg name="sim" default="true" doc="true for simulation, false for real robot"/>
  <arg name="robot" default="panda"/>

<!-- spawns simulation -->
  <include if="$(arg sim)" file="$(find cartesian_impedance_controller)/launch/panda_sim.launch">
    <arg name="robot" value="$(arg robot)"/>
  </include>
  
<!-- spawns real robot -->
  <include unless="$(arg sim)" file="$(find cartesian_impedance_controller)/launch/panda_real.launch">
    <arg name="robot" value="$(arg robot)"/>
  </include>


<!-- spawns the interactive marker -->
  <node name="interactive_marker" pkg="franka_example_controllers" type="interactive_marker.py" required="true" output="screen">
    <param name="link_name" value="$(arg robot)_link0" />
    <remap from="equilibrium_pose" to="CartesianImpedance_trajectory_controller/reference_pose" />
  </node>
  
  
<!-- spawns rviz -->
  <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find franka_example_controllers)/launch/rviz/franka_description_with_marker.rviz"/>
  
  
<!-- spawns rqt_reconfigure -->
  <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" required="false" />
  
</launch>





