<?xml version="1.0" ?>
<launch>
  <arg name="robot" default="panda"/>
  <arg name="robot_ip" default="172.16.0.2"/>
  <arg name="arm_id" default="$(arg robot)" />
  <include file="$(find franka_control)/launch/franka_control.launch" pass_all_args="true"/>
 <rosparam command="load" file="$(find cartesian_impedance_controller)/config/panda.yaml" subst_value="true"/>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="CartesianImpedance_trajectory_controller"/>
</launch>

