<!-- Launch file for starting hardware on Big Helper Copenhagen -->
<launch>
  <arg name="run_rviz" default="true"/>
  <arg name="run_moveit" default="false"/>
  <arg name="run_driver" default="false"/>
  <arg name="sim" default="true"/>
  <arg name="hardware_interface" default="EffortJointInterface"/>
  <arg name="world" default="box" />
  <arg name="gui" default="true" />
  <arg name="camera" default="true"/>
  <arg name="realsense_static_tf_publisher" default="true" doc="Enables a static tf publisher for the realsense_link to the robots wrist."/>
  <arg name="controller" default="CartesianImpedance"/>
  <!-- Robot description and state pub  -->
  <include file="$(find bh_description)/launch/dual_arm_description.launch">
      <arg name="sim" value="$(arg sim)"/>
      <arg name="hardware_interface" value="$(arg hardware_interface)"/>
      <arg name="realsense_static_tf_publisher" value="$(arg realsense_static_tf_publisher)"/>
  </include>

  <!-- Controller  -->
  <include file="$(find bh_control)/launch/bh_control.launch">
      <arg name="camera" value="false"/>
      <arg name="sim" value="$(arg sim)"/>
      <arg name="hardware_interface" value="$(arg hardware_interface)"/>
      <arg name="run_driver" value="$(arg run_driver)"/>
      <arg name="controller" value="$(arg controller)"/>
  </include>
  <include file="$(find bh_control)/launch/hh_control.launch">
      <arg name="camera" value="$(arg camera)"/>
      <arg name="sim" value="$(arg sim)"/>
      <arg name="hardware_interface" value="$(arg hardware_interface)"/>
      <arg name="run_driver" value="$(arg run_driver)"/>
  </include>

  <!-- MoveIT (srdf is loaded in any case) -->
  <param unless="$(arg run_moveit)" name="robot_description_semantic" textfile="$(find bh_moveit)/config/dual_arm_robot.srdf" />
  <include if="$(arg run_moveit)" file="$(find bh_moveit)/launch/move_group.launch">
      <arg name="robot_name" value="dual_arm"/>
      <arg name="publish_monitored_planning_scene" value="true" />
      <arg name="hardware_interface" value="$(arg hardware_interface)"/>
  </include>

  <!-- Gazebo  -->
  <include if="$(arg sim)" file="$(find bh_gazebo)/launch/gazebo.launch">
      <arg name="world" value="$(arg world)"/>
      <arg name="robot_name" value="dual_arm"/>
      <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- Rviz -->
  <node if="$(arg run_rviz)" pkg="rviz" type="rviz" name="rviz" respawn="false" args="-d $(find bh_robot)/config/dual_arm_config.rviz"/>
</launch>
